.DS_store
tempCodeRunnerFile.py
shape_detect/dataset
personal_color_dataset/test/img*.jpg
personal_color_dataset/train/*.jpg
personal_color_dataset/train/img*.jpg
personal_color_dataset/valid/img*.jpg

personal_color_dataset/train/fall/*.png
personal_color_dataset/train/spring/*.png
personal_color_dataset/train/summer/*.png
personal_color_dataset/train/winter/*.png

predict_image/*.jpg